*,::after,::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.page-login {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 60px;  
}

main.corps-de-login {
    background-image: url(../images/fond3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container-formulaire-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: auto;
    margin: auto;   
    transform: translateY(40%);
    padding: 40px 0px;
    border-radius: 3px;
    background-color: #253e51be;
    z-index: 2;
}

.container-titre-login {
    margin-bottom: 20px;
}

.titre-login {
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 0px 0px 8px white;
}

.soulignement {
    width: 100px;
    height: 5px;
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 0 8px white;
}

form.formulaire-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
}

.champ-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 5px 0;
    height: 60px;
}

form.formulaire-login label {
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 0px 0px 8px white;
    letter-spacing: 1px;
}

form.formulaire-login input {
    width: 220px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 0 10px;
}

#icon-eye {
    position: relative;
    bottom: 18px;
    left: 190px;
    font-size: 0.9rem;
}

.texte-sign-up {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: white;
}

.texte-sign-up a {
    color: rgb(243, 186, 153);
}

.btn-submit {
    padding: 5px 50px;
    font-weight: 600;
    font-size: 1.1rem;
    background-image: linear-gradient(157deg,#1fafe49d, #da11339c);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-image 0.3s ease, color 0.3s ease;
}

.btn-submit:hover {
    background-image: linear-gradient(157deg,rgb(230, 40, 6),rgb(230, 40, 6));
    color: white;
}